/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/

*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
/* img:not(.nav-logo) {
  width: 100%;
  display: block;
} */

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  /* font-weight: 700; */
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}

/*
=============== 
Navbar
===============
*/
/*
=============== 
Hero
===============
*/
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--clr-primary-5);
}
.hero-banner {
  text-align: center;
  color: var(--clr-white);
  padding: o 3rem;
}
.hero-banner p {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: var(--spacing);
  color: var(--clr-white);
}
h1 {
  text-transform: uppercase;
}
.btn {
  background-color: #ffff;
  color: var(--clr-primary-5);
  font-size: 1.25rem;
  padding: 0.9rem 1.6rem;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgb(44, 174, 186, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url("/2.BLACKROADS-TOUR-COMPANY/img/main.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
/*
=============== 
About
===============
*/
#about {
}
.section-title {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 4rem;
  text-align: center;
}
.color {
  color: var(--clr-primary-5);
  font-weight: bold;
}
.section {
  padding: 80px 0;
  width: 95%;
  margin: 0 auto;
  max-width: 1170px;
}
.about-img {
  margin: 32px 0;
}
.btn-2 {
  padding: 6px 12px;
  font-size: 22px;
  background-color: var(--clr-primary-7);
  text-transform: uppercase;
  font-weight: 400px;
  letter-spacing: var(--spacing);
  color: var(--clr-white);
  border: none;
}
@media screen and (min-width: 992px) {
  .main-about-section {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  .about-img {
    margin: 0 0 0;
    align-self: center;
  }
  .section-img {
    height: 100%;
  }
  h2 {
    font-size: 28px;
  }
  .section {
  }
}
@media screen and (min-width: 1170px) {
  .section-img::before {
    content: "";
    position: absolute;
    border: 5px solid var(--clr-primary-5);
    width: 100%;
    height: 100%;
    top: -1.5rem;
    right: 1.5rem;
    z-index: -1;
  }
  .section-img {
    position: relative;
  }
}
.no {
  color: var(--clr-primary-5);
}
/* section add to globals */
/* title add to globals */
/* section center add to globals */

/*
=============== 
Services
===============
*/
.service-icon {
  background-color: var(--clr-primary-5);
  padding: 10px;
  font-size: 30px;
  color: var(--clr-primary-1);
}
.services-center {
  text-align: center;

  margin: 0 auto;
  /* max-width: 1170px; */
  padding-top: 80px;
  padding-bottom: 40px;
}
.about-services {
  max-width: 1170px;
  margin: 0 auto;
}
.section-title {
}

.icon-pack {
  margin: 30px;
}
.service-heading {
  margin-bottom: 80px;
}
.bot {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 40px;
  max-width: 20rem;
}
@media screen and (min-width: 660px) {
  .about-services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .bot {
    max-width: 17rem;
  }
}
@media screen and (min-width: 992px) {
  .about-services {
    flex: 0 0 calc(33.333% - 1rem);
  }
}
@media screen and (min-width: 1170px) {
  .section-one,
  .section-two,
  .section-three {
    display: flex;
    text-align: left;
  }
  .icon-pack {
    align-self: flex-start;
    padding-left: 0;
    margin: 0;
  }
  .text-pack {
    padding-left: 1rem;
    margin: 0;
  }
  h4 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .bot {
    margin-bottom: 0;
    font-size: 14px;
    margin-top: 0;
  }
}
.bold {
  font-weight: bold;
}
span {
  letter-spacing: 0.3rem;
}
.our-services {
  background-color: var(--clr-grey-10);
}
h4 {
  font-weight: bold;
}

/*
=============== 
Featured Tours
===============
*/

.tour-1 {
  background-color: var(--clr-grey-10);
  margin-bottom: 40px;
  border-radius: 0.5rem;
  padding: 1.25rem 1.5rem;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}
.tour-1:hover {
  box-shadow: var(--dark-shadow);
  transform: scale(1.02);
}
.bot-icons {
  display: flex;
  justify-content: space-between;
}
.bot-icons span {
  font-size: 9px;
  letter-spacing: 0.2rem;
}
.bot-btn {
  display: flex;
  justify-content: center;
}
button {
  text-transform: uppercase;
  background-color: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.5rem 1rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}
/*
=============== 
Contact
===============
*/

/*
=============== 
Gallery
===============
*/

/*
=============== 
Footer
===============
*/
