/*
=============
Variables
=============
*/

:root {
  --primaryColor: #f15025;
  --mainBlack: #222;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.2rem;
}

/*
================
Global Styles
================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fira Code", monospace;
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.5;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.25rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  margin-bottom: 0;
}
p {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 2;
}

/* ============
button
============ */

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  border: 4px solid var(--primaryColor);
  transition: var(--mainTransition);
}
.btn a {
  color: var(--primaryColor);
  font-weight: bold;
  font-size: 17px;
}
button:hover {
  background-color: var(--primaryColor);
}
button:hover a {
  color: var(--mainWhite);
}
button {
  margin: 3rem;
}

/*
============
Navbar
============
*/

nav ul li {
  padding: 20px;
  list-style: none;
  cursor: pointer;
  letter-spacing: var(--mainSpacing);
}
nav ul li a {
  color: var(--primaryColor);
}
nav {
  background-color: var(--darkGrey);
}
nav ul li a:hover {
  color: var(--mainBlack);
}
@media (min-width: 992px) {
  nav ul {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .main-navbar {
    text-align: center;
  }
}
.hero-header {
  background-color: var(--primaryColor);
  color: var(--mainWhite);
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}
.class-banner p {
  width: 70%;
  font-size: 1rem;
  max-width: 560px;
}
@media screen and (max-width: 600px) {
  .hero-banner {
    padding: 0.3rem;
  }
}
@media screen and (min-width: 768px) {
  .hero-header {
    background-image: url("./images/size-image-2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(rgba(241, 80, 37, 0.75), rgba(0, 0, 0, 0.75));
  }
}

/* ===================================
                 CARDS
=========================================== */

.three-column {
  text-align: center;
}
.cards-center {
  width: 80vw;
  margin: 0 auto;
  max-width: 1170px;
}
.layout-images {
  border: 1px solid grey;
  margin-top: 40px;
}
.card-info {
  padding: 10px;
}
.card-footer {
  background-color: var(--darkGrey);
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
}
.card-footer span {
  color: var(--primaryColor);
}
.cards-header {
  margin: 80px 0;
}
@media screen and (min-width: 768px) {
  .cards-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }
}
@media screen and (min-width: 1170px) {
  .cards-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
  }
}
h1 {
  font-weight: 400;
}

/* ====================================
          TILES
==================================== */

.tiles-img {
  padding: 1rem 1rem;
}
.tiles-header {
  margin: 40px 0;
}
.tiles-layout {
  width: 80vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 768px) {
  .center-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .center-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1170px) {
  .center-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 300px);
    grid-template-areas:
      "a a a b"
      "a a a c"
      "d d d d"
      "e f f f"
      "e g h i";
  }
  img {
    /* height: 100%; */
    /* padding: 1rem; */
    object-fit: cover;
  }
  .center-img img{
    height: 100%;
    padding: 1rem;
  }
  .tiles-img-1 {
    grid-area: a;
  }
  .tiles-img-2 {
    grid-area: b;
  }
  .tiles-img-3 {
    grid-area: c;
  }
  .tiles-img-4 {
    grid-area: d;
  }
  .tiles-img-5 {
    grid-area: e;
  }
  .tiles-img-6 {
    grid-area: f;
  }
  .tiles-img-7 {
    grid-area: g;
  }
  .tiles-img-8 {
    grid-area: h;
  }
  .tiles-img-9 {
    grid-area: i;
  }
}

/* ========================================
                LAYOUTS       
======================================== */

.header-text {
  color: white;
  background-color: var(--primaryColor);
}
article {
  height: 50vh;
  padding: 1rem;
}
footer {
  background-color: var(--mainBlack);
  color: var(--mainWhite);
  text-align: center;
  padding: 0.5rem;
}
.footer {
  background-color: var(--primaryColor);
  padding: 0.5rem;
  color: var(--mainWhite);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
span{
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .nav-var ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    width: 80vw;
    margin: 0 auto;
    max-width: 1170px;
  }
}
@media screen and (min-width: 992px) {
  .header-layout {
    grid-template-columns: [start] 200px [col-1-end] 1fr [col-2-end] 50px [end];
    grid-template-rows: [start] auto [row-1-end] 1fr [row-2-end] auto [end];
  }
  .header-text {
    grid-column: start/end;
    grid-row: start/row-1-end;
  }
  .nav-var {
    grid-column: start/col-1-end;
    grid-row: row-1-end/row-2-end;
  }
  article {
    grid-column: col-1-end/col-2-end;
    grid-row: row-1-end/row-2-end;
  }
  footer {
    grid-column: start/end;
    grid-template-rows: row-2-end/end;
  }
  .nav-var ul {
    grid-template-columns: 1fr;
    min-height: 100%;
    align-items: center;
  }
  .footer {
    grid-template-columns: 1fr;
    align-items: center;
    background: var(--darkGrey);
    grid-column: col-2-end/end;
    grid-row: row-1-end/row-2-end;
    min-height: 100%;
  }
}
